body {
    background-image: url("20231016_000517.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
}

.Formulario {
    background-color: rgba(99, 185, 255, 0.4);
    margin: 0 auto;
    max-width: 400px;
    border-radius: 10px;
    backdrop-filter: blur (50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}